$normal-text: #051532;
$black: #000000;
$white: #ffffffff;
$blue: #4b9afb;
$dark-blue: #0177fd;
$purple: #7282fb;
$orange: #cb8e47;
$green: #45e945;
$tomato: #f55b4e;
$light-green: #88c989;
$lightest-purple: rgba(114, 130, 251, 0.301);
$lightest-green: rgba(136, 201, 137, 0.301);
$lightest-orange: rgba(203, 141, 71, 0.301);
