@import "mixing";
@import "variables";

button {
  border: none;
}

#content {
  padding: 10px 20px;

  & .heading-box {
    @include flex-justify(space-between);

    & h1 {
      font-size: 2rem;
    }

    & button {
      background-color: $dark-blue;
      padding: 5px 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  & .upcoming-event-container {
    // border: 1px solid red;
    margin-top: 10px;

    & h4 {
      font-size: 1rem;
    }

    & .card-container {
      margin-top: 20px;
      @include flex-justify(space-between);
      // border: 1px solid red;

      & .cards {
        // border: 1px solid red;
        height: 230px;
        width: 261px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        & .time-container {
          //   border: 1px solid red;
          width: 100%;
          height: 30px;
          text-align: end;
          padding: 10px 10px 0px 0px;
        }

        & .flex-container {
          //   border: 1px solid red;
          height: calc(100% - 30px);
          @include flex;
          flex-direction: column;

          & img {
            height: 70px;
            width: 70px;
            margin-bottom: 10px;
            border: 2px solid;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }

          & button {
            border-radius: 10px;
            padding: 5px 15px;
            border: 1px solid;
          }
        }
      }

      & .cards#card1 {
        background-color: $purple;

        & .flex-container {
          & img {
            border-color: $purple;
          }

          & button {
            border-color: $purple;
            color: $purple;
          }
        }
      }
      & .cards#card2 {
        background-color: $lightest-green;

        & .flex-container {
          & img {
            border-color: $light-green;
          }
          & button {
            border-color: $light-green;
            color: $light-green;
          }
        }
      }
      & .cards#card3 {
        background-color: $lightest-orange;

        & .flex-container {
          & img {
            border-color: $orange;
          }
          & button {
            border-color: $orange;
            color: $orange;
          }
        }
      }
      & .cards#card4 {
        background-color: $lightest-purple;

        & .flex-container {
          & img {
            border-color: $purple;
          }
          & button {
            border-color: $purple;
            color: $purple;
          }
        }
      }
    }
  }

  & .clients-updates-container {
    margin-top: 30px;

    & .heading-box {
      @include flex-justify(space-between);

      & h4 {
        font-size: 1.1rem;
      }
      & button {
        background-color: transparent;
        font-size: 0.8rem;
      }
    }

    & .client-cards-container {
      // border: 1px solid red;
      display: flex;
      align-items: center;
      margin-top: 10px;

      & .clients {
        // border: 1px solid red;
        position: relative;
        margin-right: 15px;

        & img {
          //   border: 1px solid red;
          position: relative;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        & span {
          background-color: $tomato;
          color: $white;
          position: absolute;
          top: 0px;
          right: 0px;
          z-index: 1;
          font-size: 0.5rem;
          height: 15px;
          width: 15px;
          @include flex;
          border-radius: 50%;
        }
      }
    }
  }

  & .task-container {
    margin-top: 30px;

    & .heading-box {
      & h4 {
        font-size: 1.1rem;
      }
    }

    & .task-box {
      //   border: 1px solid red;
      @include flex;
      flex-direction: column;

      & .btn-container {
        // border: 1px solid red;
        @include flex-justify(space-around);
        margin-top: 10px;

        & button {
          background-color: $white;
          height: 50px;
          width: 230px;
        }
        & button.active {
          background-color: $purple;
          color: $white !important;
        }
      }

      & .task-container {
        width: 100%;
        padding: 0 80px;
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-rows: repeat(3, minmax(20px, 70px));
        row-gap: 40px;
        column-gap: 150px;

        & .task {
          background-color: $white;
          @include flex-justify(space-between);
          padding: 10px 20px;
          
          & .task-details {
            //   @include flex;
              @include flex;
            // border: 1px solid red;

            & .task-para {
                // border: 1px solid red;
                margin-top: 20px;
                margin-left: 10px;
                & p {
                    line-height: 5px;
                }
                & p.task-time {
                font-size: 0.8rem;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}
