button {
  border: none;
}

#content {
  padding: 10px 20px;
}
#content .heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content .heading-box h1 {
  font-size: 2rem;
}
#content .heading-box button {
  background-color: #0177fd;
  padding: 5px 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#content .upcoming-event-container {
  margin-top: 10px;
}
#content .upcoming-event-container h4 {
  font-size: 1rem;
}
#content .upcoming-event-container .card-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content .upcoming-event-container .card-container .cards {
  height: 230px;
  width: 261px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#content .upcoming-event-container .card-container .cards .time-container {
  width: 100%;
  height: 30px;
  text-align: end;
  padding: 10px 10px 0px 0px;
}
#content .upcoming-event-container .card-container .cards .flex-container {
  height: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#content .upcoming-event-container .card-container .cards .flex-container img {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#content .upcoming-event-container .card-container .cards .flex-container button {
  border-radius: 10px;
  padding: 5px 15px;
  border: 1px solid;
}
#content .upcoming-event-container .card-container .cards#card1 {
  background-color: #7282fb;
}
#content .upcoming-event-container .card-container .cards#card1 .flex-container img {
  border-color: #7282fb;
}
#content .upcoming-event-container .card-container .cards#card1 .flex-container button {
  border-color: #7282fb;
  color: #7282fb;
}
#content .upcoming-event-container .card-container .cards#card2 {
  background-color: rgba(136, 201, 137, 0.301);
}
#content .upcoming-event-container .card-container .cards#card2 .flex-container img {
  border-color: #88c989;
}
#content .upcoming-event-container .card-container .cards#card2 .flex-container button {
  border-color: #88c989;
  color: #88c989;
}
#content .upcoming-event-container .card-container .cards#card3 {
  background-color: rgba(203, 141, 71, 0.301);
}
#content .upcoming-event-container .card-container .cards#card3 .flex-container img {
  border-color: #cb8e47;
}
#content .upcoming-event-container .card-container .cards#card3 .flex-container button {
  border-color: #cb8e47;
  color: #cb8e47;
}
#content .upcoming-event-container .card-container .cards#card4 {
  background-color: rgba(114, 130, 251, 0.301);
}
#content .upcoming-event-container .card-container .cards#card4 .flex-container img {
  border-color: #7282fb;
}
#content .upcoming-event-container .card-container .cards#card4 .flex-container button {
  border-color: #7282fb;
  color: #7282fb;
}
#content .clients-updates-container {
  margin-top: 30px;
}
#content .clients-updates-container .heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content .clients-updates-container .heading-box h4 {
  font-size: 1.1rem;
}
#content .clients-updates-container .heading-box button {
  background-color: transparent;
  font-size: 0.8rem;
}
#content .clients-updates-container .client-cards-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#content .clients-updates-container .client-cards-container .clients {
  position: relative;
  margin-right: 15px;
}
#content .clients-updates-container .client-cards-container .clients img {
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#content .clients-updates-container .client-cards-container .clients span {
  background-color: #f55b4e;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  font-size: 0.5rem;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#content .task-container {
  margin-top: 30px;
}
#content .task-container .heading-box h4 {
  font-size: 1.1rem;
}
#content .task-container .task-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#content .task-container .task-box .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
#content .task-container .task-box .btn-container button {
  background-color: white;
  height: 50px;
  width: 230px;
}
#content .task-container .task-box .btn-container button.active {
  background-color: #7282fb;
  color: white !important;
}
#content .task-container .task-box .task-container {
  width: 100%;
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: repeat(3, minmax(20px, 70px));
  row-gap: 40px;
  -moz-column-gap: 150px;
       column-gap: 150px;
}
#content .task-container .task-box .task-container .task {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
#content .task-container .task-box .task-container .task .task-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
#content .task-container .task-box .task-container .task .task-details .task-para {
  margin-top: 20px;
  margin-left: 10px;
}
#content .task-container .task-box .task-container .task .task-details .task-para p {
  line-height: 5px;
}
#content .task-container .task-box .task-container .task .task-details .task-para p.task-time {
  font-size: 0.8rem;
  margin-left: 2px;
}/*# sourceMappingURL=dashboard.css.map */