#content {
  overflow: auto;
  height: 90%;
  font-family: "Poppins";
  font-style: normal;
  padding-bottom: 30px;
  margin: 0px;
}
#content .content-container .user-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
@media only screen and (max-width: 481px) {
  #content .content-container .user-img-container {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 20px;
  }
}
#content .content-container .user-img-container .profile {
  background-image: url("../images/profile.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 481px) {
  #content .content-container .user-img-container .profile {
    background-image: url("../images/mobile-Profile.png");
    border-radius: 50%;
    background-position: center;
  }
}
#content .content-container .user-img-container h3 {
  width: 100px;
  margin-left: 20px;
  line-height: 50px;
}
@media only screen and (max-width: 481px) {
  #content .content-container .user-img-container h3 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
#content .content-container .flex-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#content .content-container .flex-center-container .cards-container {
  margin-top: 20px;
  display: grid;
  gap: 60px;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
}
@media only screen and (max-width: 940px) {
  #content .content-container .flex-center-container .cards-container {
    gap: 30px;
  }
}
@media only screen and (max-width: 481px) {
  #content .content-container .flex-center-container .cards-container {
    gap: 10px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
#content .content-container .flex-center-container .cards-container #card1 {
  grid-area: card1;
}
#content .content-container .flex-center-container .cards-container #card2 {
  grid-area: card2;
}
#content .content-container .flex-center-container .cards-container #card3 {
  grid-area: card3;
}
#content .content-container .flex-center-container .cards-container #card4 {
  grid-area: card4;
}
#content .content-container .flex-center-container .cards-container #card5 {
  grid-area: card5;
}
#content .content-container .flex-center-container .cards-container #card6 {
  grid-area: card6;
}
#content .content-container .flex-center-container .cards-container .cards {
  background-color: rgb(255, 255, 255);
  height: 160px;
  width: 160px;
  padding: 20px 20px 20px 10px;
  border-radius: 18px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.153);
}
@media only screen and (max-width: 940px) {
  #content .content-container .flex-center-container .cards-container .cards {
    height: 130px;
    width: 130px;
  }
}
@media only screen and (max-width: 481px) {
  #content .content-container .flex-center-container .cards-container .cards {
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.153);
  }
  #content .content-container .flex-center-container .cards-container .cards img {
    height: 40px;
    width: 40px;
  }
  #content .content-container .flex-center-container .cards-container .cards p {
    margin: 20px;
  }
}
#content .content-container .flex-center-container .cards-container .cards p {
  font-weight: 500;
}
#content .content-container .logout-btn-box {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media only screen and (max-width: 481px) {
  #content .content-container .logout-btn-box {
    justify-content: center;
  }
}
#content .content-container .logout-btn-box .logout {
  position: relative;
  background-color: #ff0000;
  color: #fff;
  padding: 15px 55px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  right: 0;
}

@media screen and (max-width: 720px) {
  .topnav .topnav-content {
    background-color: #000;
    visibility: hidden;
  }
  .mobile-menu {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .mobile-menu span span {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */